.aside .logo a::before{
    border-top: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
}
.aside .logo a::after{
    border-right : 4px solid #ffb400;
    border-bottom: 4px solid #ffb400;
}
body.dark .aside .nav li a.active,
body.dark .aside .nav li a:hover,
.contact .contact-info-item .icon .fa,
.project .project-item-inner .project-info .project-technology span,
.skills .skill-item .skill-item-inner .icon .fa,
.aside .nav li a.active ,.aside .nav li a:hover{
    color: #ffb400;
}
.skills .skill-item .skill-item-inner:hover .icon,
.about .about-content .education .circle-dot,
.about .about-content .education .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.aside .nav-toggler span,.aside .nav-toggler span::before,
.aside .nav-toggler span::after,.section-title h2::before,
.section-title h2::after,.btn{
    background-color: #ffb400 ;
}
.home .intro .social-link a{
    background-color: #ffb400 ;
}